amqp
asgiref
billiard
click
click-didyoumean
click-plugins
click-repl
colorama
crispy-bootstrap5
Django
django-crispy-forms
kombu
Pillow
prompt-toolkit
psycopg2-binary
pytz
six
sqlparse
tzdata
Unidecode
vine
wcwidth
redis
python-dotenv