{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="my-4">Каталог продуктов</h1>
                {% if product_list %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Категория</th>
                                <th>Версия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in product_list %}
                                <tr>
                                    <td><a href="{% url 'catalog:product_detail' product.pk %}">{{ product.name }}</a></td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.version }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Каталог пуст.</p>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div class="card my-4">
                    <h5 class="card-header">Категории</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in category_list|slice:":4" %}
                                        <li><a href="{% url 'catalog:category_detail' category.pk %}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in category_list|slice:"4:8" %}
                                        <li><a href="{% url 'catalog:category_detail' category.pk %}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}