{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Новая запись в Блог</h1>
   <div class="container">
        <div class="row justify-content-center">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn btn-success mt-3" type="submit">Сохранить</button>
                        <a href="{% url 'catalog:post_list' %}" class="btn btn-secondary mt-3">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}