{% extends 'catalog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
   <div class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="form-group text-center">
                        <button class="btn btn-success mt-3" type="submit" name="submit">Сохранить</button>
                        <a href="{% url 'catalog:post_list' %}" class="btn btn-secondary mt-3">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}